@import '~carbon-components/scss/globals/scss/styles';

.bx--grid {
  margin-top: $layout-lg;
  
  header {
    margin-bottom: $layout-lg;
  }

  .bx--form {
    .bx--form-item {
      margin-bottom: $layout-xs;
    }
  
    .bx--btn {
      margin: $layout-xs 0 $layout-lg;
      float: right;
    }
  }

  img {
    width: 100%;
    margin: 0 0 $layout-sm;
  }

  .bx--structured-list {
    min-width: 0;

    .bx--structured-list-row .bx--structured-list-td:last-child {
      padding-right: 0;
      text-align: right;
    }
  }
}
